<!-- guns_form.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <header><%- include("./partials/header") %></header>
 
    <h1 class="gunFormTitle"><%= title %></h1>
    <form method="POST" action="" enctype="multipart/form-data" id="myForm">
        
        <div class="gunFormArea">
            <div class="gunFormLeft">
                <div class="gunFormName">  <label for="gun_name">Gun Name:</label>
            <input type="text" id="gun_name" name="gun_name" value="<%= (typeof gun !== 'undefined' ? gun.gun_name : '') %>">
        </div>
          
<div class="typeMakerSelect">


    
    <div class="typeSelect">    <label for="gun_type">Gun Type:</label>
        <select id="gun_type" name="gun_type" >
            <option value="">Select a Type</option>
            <% types_list.forEach(function(type) { %>
                <option value="<%= type._id %>" <%= (typeof gun !== 'undefined' && gun.gun_type.toString() === type._id.toString() ? 'selected' : '') %>><%= type.type_name %></option>
            <% }); %>
        </select></div>
<div class="makerSelect">   <label for="gun_maker">Gun Maker:</label>
        <select id="gun_maker" name="gun_maker" >
            <option value="">Select a Maker</option>
            <% makers_list.forEach(function(maker) { %>
                <option value="<%= maker._id %>" <%= (typeof gun !== 'undefined' && gun.gun_maker.toString() === maker._id.toString() ? 'selected' : '') %>><%= maker.maker_name %></option>
            <% }); %>
        </select></div></div>
        
     
       
        
        <label for="gun_description">Gun Description:</label>
        <textarea id="gun_description" name="gun_description"><%= (typeof gun !== 'undefined' ? gun.gun_description : '') %></textarea>
        

    <div class="gunStockSoldPrice">
        
        <div class="gunFormPrice">  <label for="gun_price">Gun Price:</label>
        <input type="text" id="gun_price" name="gun_price" value="<%= (typeof gun !== 'undefined' ? gun.gun_price : '') %>" >
        </div>
      <div class="gunFormStock"> <label for="gun_stock">Gun Stock:</label>
        <input type="text" id="gun_stock" name="gun_stock" value="<%= (typeof gun !== 'undefined' ? gun.gun_stock : '') %>" >
        
</div>
<div class="gunFormSold">   <label for="gun_sold">Gun Sold:</label>
        <input type="text" id="gun_sold" name="gun_sold" value="<%= (typeof gun !== 'undefined' ? gun.gun_sold : '') %>" >
        </div>

   
     
    </div>
   


        <!-- Add other fields as needed -->
        <div class="gunFormPart">
            <div class="gunCreateImage">
              <label for="gun_image">Gun Image:</label>
              <div class="radio">
                <input
                  type="radio"
                  id="use_url"
                  name="image_source"
                  value="url"
                />
                <label for="use_url">Use URL</label>
                <input
                  type="radio"
                  id="upload_image"
                  name="image_source"
                  value="upload"
                  checked
                />
                <label for="upload_image">Upload Image</label>
              </div>
    
              <div class="imgInput">
                <input
                  id="gun_image_upload"
                  class="form-control"
                  type="file"
                  name="gun_image_upload"
                  accept="image/*"
                  value="<%= (typeof gun !== 'undefined' ? gun.gun_image : '') %>"
                />
                <h4>Or</h4>
                <input
                  id="gun_image_url"
                  class="form-control"
                  type="text"
                  name="gun_image_url"
                  placeholder="Image URL"
                  value="<%= (typeof gun !== 'undefined' ? gun.gun_image : '') %>"
                />
              </div>
    </div></div>
</div>
     <div class="gunFormSpecs"> <!-- Gun Specs Fields -->
        <label for="specs_atk_power">Attack Power:</label>
        <input type="text" id="specs_atk_power" name="specs_atk_power" value="<%= (typeof gun.gun_specs !== 'undefined' ? gun.gun_specs.specs_atk_power : '') %>" >
        

        <label for="specs_impact">Impact:</label>
        <input type="text" id="specs_impact" name="specs_impact" value="<%= (typeof gun.gun_specs !== 'undefined' ? gun.gun_specs.specs_impact : '') %>" >
        

        <label for="specs_rounds">Rounds:</label>
        <input type="text" id="specs_rounds" name="specs_rounds" value="<%= (typeof gun.gun_specs !== 'undefined' ? gun.gun_specs.specs_rounds : '') %>" >
        

        <label for="specs_weight">Weight:</label>
        <input type="text" id="specs_weight" name="specs_weight" value="<%= (typeof gun.gun_specs !== 'undefined' ? gun.gun_specs.specs_weight : '') %>" >
        

        <label for="specs_en">Energy Consumption:</label>
        <input type="text" id="specs_en" name="specs_en" value="<%= (typeof gun.gun_specs !== 'undefined' ? gun.gun_specs.specs_en : '') %>" >
        

        <!-- Maker Selection -->
      
        <script>
          document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("myForm").addEventListener("submit", function(event) {
              const secretString = "youFoundIt"; // Replace with your actual secret string
              const userInput = document.getElementById("myInput").value;
          
              if (userInput !== secretString) {
                alert("Invalid Password.");
                event.preventDefault(); // Prevent the form from submitting
              }
            });
          });
          </script>
        <label for="myInput">Password:</label>
        <input type="password" id="myInput" name="secretInput" required>
       

        <button class="submitGunForm" type="submit">Submit</button>
</div>
       
    </form>
</div>

     <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
            <ul>
              <% for (let error of errors) { %>
                <li><%= error.msg %></li>
              <% } %>
            </ul>
          <% } %>
</body>
</html>
