<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header><%- include("./partials/header") %></header>

    <div class="makerContainer">
      <div class="makerTitle"><h1>Makers List</h1></div>

      <div class="makersList">
        <% makers_list.forEach(function(maker){ %>
        <div class="makers">
          <p>
            <a class="makerListTitle" href="/catalog/maker/<%=maker._id%>"><%= maker.maker_name %></a>
          </p>
          <a href="/catalog/maker/<%=maker._id%>">
            <% if (maker.maker_image) { %> <% if
              (maker.maker_image.startsWith('http')) { %>
              <img class="makerDetailImg" src="<%= maker.maker_image %>" />
              <% } else { %>
              <img
                class="makeDetailImg"
                src="<%= '/images/' + maker.maker_image %>"
              />
              <% }} %></a>
        </div>

        <% }); %>
      </div>
    </div>
  </body>
</html>
