<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header><%- include("./partials/header") %></header>
    <div class="typeContainer">
      <p class="typesTitle">Types List</p>

      <div class="typesList">
        <% types_list.forEach(function(type){ %>
        <div class="types">
          <p class="typeName">
            <a href="/catalog/type/<%=type._id%>"><%= type.type_name %></a>
          </p>
          <a href="/catalog/type/<%=type._id%>">
            <% if (type.type_image) { %> <% if
        (type.type_image.startsWith('http')) { %>
        <img class="typeImg" src="<%= type.type_image %>" />
        <% } else { %>
        <img
          class="typeImg"
          src="<%= '/images/' + type.type_image %>"
        />
        <% }} %></a>
    
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
